{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block  body %}

    <div class="main">

        <input type="text" id="email" value="brunaPa1@email.com.br" hidden>
        <input type="text" id="id" value="292" hidden>
        <input type="text" id="msgTo" value="wlad.fral@gmail.com" hidden>
        <input type="text" id="idUSerTo" value="302" hidden>
        <input type="text" id="idChat" value="99" hidden>
        <input type="text" id="nivel" value="pa" hidden>

        <div class="container template">
            <img class="userImage" src="" alt="Avatar" data-user1="{{ asset('assets/images/chat.png' ) }}"
                 data-user2="{{ asset('assets/images/avatar.jpg' ) }}">
            <p class="message"></p>
        </div>

        <div class="messages">

            <div class="container">
                <img src="{{ asset('assets/images/chat.png' ) }}" alt="Avatar">
                <p>Usuário: brunaPa1@email.com.br</p>
            </div>
        </div>

        <div class="input-group mb-3">
            <input type="text" id="textMessage" class="form-control" placeholder="Menssagem"
                   aria-label="Menssagem"
                   aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-success" id="sendMessage" type="button">Enviar</button>
            </div>
        </div>
    </div>

    {{ parent() }}{% endblock %}


{% block javascripts %}
    <script src="{{ asset('assets/js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ asset('assets/js/main.js') }}"></script>

    {{ parent() }}
{% endblock %}
